header{
	height: 60px;
	font-family: "comic sans ms";
	margin: 0;
	padding: 0;
	font-size: 32px;
	color: grey;
	text-shadow: 1px 1px 1px #111111;
}
/*#696969 cinza-escuro*/
footer{
	clear: both;
	background-color: white;
	text-align: center;
	margin: 1px;
	font-size: 12px;
	color: #696969;
}

body{
	background-color: #2F4F4F;
}

p{
	text-shadow: 1px 1px 1px #111111;
	text-align: center;
	font-size: 20px;
}


#principal{
	clear: both;
	font-family: "comic sans ms";
	height: 200px;
}

#menu{
	float: right;
}

#boas{
	font-size: 25px;
	padding: 0 0 0 500px;
	float: left;
}

.conteiner{
	background-image: url('game.jpg');
	background-position: center;
}

.conteiner a{
	text-align: right;
	padding: 0 10px 0 10px;
	font-size: 15px;
	text-decoration: none;
	color: grey;
	text-shadow: 1px 1px 1px #111111;
}

.conteiner a:hover{
	background-color: #696969;
	color: white;
}

.efeito{
	background-color: rgba(0 , 0 , 0 , 0.5);
	padding: 80px;
}